@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family:Poppins, Roboto;
  line-height: 1.5;
  font-weight: 400;
  color:#E1E1E6;
  
  background-color: #000A0F;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.text-small{
  font-size: 10px;
}
.text-extra-small {
  font-size: 8px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
